force-app/main/default/flows/Account_Update_NAB_Opportunity_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_the_stage_to_opportunity</name>
        <label>Assign the stage to opportunity</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ordering</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Status_to_Ordering</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_the_stage_to_opportunity</name>
        <label>Assign the stage to opportunity</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed:Succeeded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_all_handover_fields_completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_the_stage_to_opportunity_0</name>
        <label>Assign the stage to opportunity</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ordering</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Opportunity_Status_to_Onboarded_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hard_Churn_Assign_the_stage_to_opportunity</name>
        <label>Hard Churn Assign the stage to opportunity</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed:Succeeded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Reactivation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HardChurnOpp_of_Has_all_handover_fields_completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HardChurn_Assign_the_stage_to_opportunity</name>
        <label>Hard Churn Assign the stage to opportunity Ordering</label>
        <locationX>2162</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ordering</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_HardChurnOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hardchurn_of_Assign_the_stage_to_opportunity</name>
        <label>HardChurn Assign the stage to opportunity</label>
        <locationX>1634</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ordering</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HardChurn_of_Update_Opportunity_Status_to_ordering_still</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Path</name>
        <label>Decision Path</label>
        <locationX>2327</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>OppIsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAB_or_Hard_Churn</targetReference>
            </connector>
            <label>Opportunity is available</label>
        </rules>
    </decisions>
    <decisions>
        <name>HardChurnOpp_of_Has_all_handover_fields_completed</name>
        <label>Hard Churn Opp Has all handover fields completed</label>
        <locationX>1634</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>HardChurn_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Who_is_the_DM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Ready_to_be_Converted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Who_makes_the_orders__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Who_still_needs_to_be_onboarded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Which_Vendors_Are_Missing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Storytelling__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HardChurn_Update_Opportunity_Status_to_Onboarded</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>HardChurn_of_Not_yet_even_on_ordering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ordering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.HandoverComplete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hardchurn_of_Assign_the_stage_to_opportunity</targetReference>
            </connector>
            <label>Hard Churn Not yet even on ordering</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_all_handover_fields_completed</name>
        <label>Has all handover fields completed</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Who_is_the_DM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Ready_to_be_Converted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Who_makes_the_orders__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Who_still_needs_to_be_onboarded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Which_Vendors_Are_Missing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Storytelling__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Status_to_Closed_Succeeded</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ordering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.HandoverComplete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_the_stage_to_opportunity_0</targetReference>
            </connector>
            <label>Not yet even on ordering</label>
        </rules>
    </decisions>
    <decisions>
        <name>NAB_or_Hard_Churn</name>
        <label>NAB or Hard Churn</label>
        <locationX>1700</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NAB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_status_is_set_on_opportunity</targetReference>
            </connector>
            <label>NAB</label>
        </rules>
        <rules>
            <name>Hard_Churn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hard_Churn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_status_is_set_on_HARDCHURN_opportunity</targetReference>
            </connector>
            <label>Hard Churn</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the formula field System Status on the Opportunity and update the status based on it</description>
        <name>Which_status_is_set_on_HARDCHURN_opportunity</name>
        <label>Which status is set on HARD CHURN opportunity</label>
        <locationX>2030</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hard_Churn_Closed_Succeeded</name>
            <conditionLogic>(1 AND 2 AND 5 AND 6) OR (2 AND 3 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Orders_After_HardChurn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ordering_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ordering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_of_Orders_After_HardChurn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.number_of_active_chats__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Succeeded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hard_Churn_Assign_the_stage_to_opportunity</targetReference>
            </connector>
            <label>Closed: Succeeded</label>
        </rules>
        <rules>
            <name>Hardchurn_Ordering</name>
            <conditionLogic>(3 AND 6 AND 7) AND ((1 AND 2 AND 8) OR  (4 AND 5 AND 8))</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Orders_After_HardChurn</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.number_of_active_chats__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ordering_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ordering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_of_Orders_After_HardChurn</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.number_of_active_chats__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Succeeded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Order_Time__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HardChurn_Assign_the_stage_to_opportunity</targetReference>
            </connector>
            <label>Ordering</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the formula field System Status on the Opportunity and update the status based on it</description>
        <name>Which_status_is_set_on_opportunity</name>
        <label>Which status is set on opportunity</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClosedWon</name>
            <conditionLogic>(1 AND 2 AND 5 AND 6) OR (2 AND 3 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Orders__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ordering_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ordering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Orders__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Suppliers_Ordered_From__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Succeeded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_the_stage_to_opportunity</targetReference>
            </connector>
            <label>Closed: Succeeded</label>
        </rules>
        <rules>
            <name>Ordering</name>
            <conditionLogic>(3 AND 6 AND 7)AND ((1 AND 2) OR  (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Orders__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Suppliers_Ordered_From__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ordering_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ordering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Orders__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Suppliers_Ordered_From__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Succeeded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_stage_to_opportunity</targetReference>
            </connector>
            <label>Ordering</label>
        </rules>
    </decisions>
    <description>This flow updates the stage of the NAB opportunity based on the update from the data team on the fields:
Total_Orders__c, Number_of_suppliers__c, Total_Orders__c, Number_of_suppliers__c, Number_of_Chats__c on account 
All the update logic is based on the field System Status on the opportunity.</description>
    <environments>Default</environments>
    <formulas>
        <name>Number_of_Orders_After_HardChurn</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Total_Orders__c} - {!Get_Opportunity.Number_of_Orders_Before_Hard_Churn__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Account - Update NAB Opportunity Stage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Update NAB / Hard Churn Opportunity Stage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>2327</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Path</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAB</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hard_Churn</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Update_Opportunity_Status_to_Onboarded_0_0</name>
        <label>Update Opportunity Status to ordering still</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>HardChurn_of_Update_Opportunity_Status_to_ordering_still</name>
        <label>Hard Churn Update Opportunity Status to ordering still</label>
        <locationX>1634</locationX>
        <locationY>1175</locationY>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>HardChurn_Update_Opportunity_Status_to_Onboarded</name>
        <label>HardChurn Update Opportunity Status to Onboarded</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Related_Account_Handover</targetReference>
        </connector>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HardChurnOpportunity</name>
        <label>Update Hard Churn Opportunity Status</label>
        <locationX>2162</locationX>
        <locationY>935</locationY>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Status_to_Closed_Succeeded</name>
        <label>Update Opportunity Status to Closed:Succeeded</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Status_to_Ordering</name>
        <label>Update Opportunity Status to Ordering</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Account_Handover</name>
        <label>Update Related Account Handover</label>
        <locationX>1370</locationX>
        <locationY>1175</locationY>
        <inputAssignments>
            <field>Features_Requested__c</field>
            <value>
                <elementReference>Get_Opportunity.Features_Requested__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Potential_for_referrals__c</field>
            <value>
                <elementReference>Get_Opportunity.Potential_for_referrals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storytelling__c</field>
            <value>
                <elementReference>Get_Opportunity.Storytelling__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_Suppliers_Are_Missing__c</field>
            <value>
                <elementReference>Get_Opportunity.Which_Vendors_Are_Missing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_is_the_DM__c</field>
            <value>
                <elementReference>Get_Opportunity.Who_is_the_DM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_makes_the_orders__c</field>
            <value>
                <elementReference>Get_Opportunity.Who_makes_the_orders__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_still_needs_to_be_onboarded__c</field>
            <value>
                <elementReference>Get_Opportunity.Who_still_needs_to_be_onboarded__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2201</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Number_of_Chats__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Total_Orders__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Suppliers_Ordered_From__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ordering_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>number_of_active_chats__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Last_Order_Time__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
