force-app/main/default/flows/Calculate_Upsell_ACV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>OPSSYS-1141 - created as part of ticket specifications</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculateAdditionalBuyerTarget</name>
        <dataType>Number</dataType>
        <expression>If(ISNULL({!Get_all_other_opportunities_related_to_the_account.Active_Buyer_Target__c}),
{!$Record.Active_Buyer_Target__c} - {!Get_all_other_opportunities_related_to_the_account.New_Total_Buyer_target__c},
{!$Record.Active_Buyer_Target__c} - {!Get_all_other_opportunities_related_to_the_account.Active_Buyer_Target__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculates Upsell ACV</description>
        <name>CalculateUpsellACV</name>
        <dataType>Number</dataType>
        <expression>If(({!$Record.AnnualContractValue__c}-{!Get_all_other_opportunities_related_to_the_account.AnnualContractValue__c}) &gt; 0, {!$Record.AnnualContractValue__c}-{!Get_all_other_opportunities_related_to_the_account.AnnualContractValue__c}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Calculate Upsell ACV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Upsell ACV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_other_opportunities_related_to_the_account</name>
        <label>Get all other opportunities related to the account</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Upsell_ACV_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vendor_Package_3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Timestamp_Growth_Signed_Onboarding__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AnnualContractValue__c</queriedFields>
        <queriedFields>Active_Buyer_Target__c</queriedFields>
        <sortField>AnnualContractValue__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Upsell_ACV_field</name>
        <label>Update Upsell ACV field</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Active_Buyer_Target__c</field>
            <value>
                <elementReference>$Record.New_Total_Buyer_target__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Buyer_Target__c</field>
            <value>
                <elementReference>CalculateAdditionalBuyerTarget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Buyer_Target__c</field>
            <value>
                <elementReference>Get_all_other_opportunities_related_to_the_account.Active_Buyer_Target__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upsell_ACV__c</field>
            <value>
                <elementReference>CalculateUpsellACV</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_other_opportunities_related_to_the_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vendor_Package_3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Upsell__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>200</triggerOrder>
</Flow>
