force-app/main/default/flows/CaseSetCasePriority.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>is_Null</name>
        <label>is Null?</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>SetPrioTo7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getIntegrationRecord0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCasewithIntegrationrecord0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>1238</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>SetPrioTo8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getIntegrationRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Case_with_Integration_record</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks which priority to set on the case based on different criteria.</description>
        <name>WhichPriorityToSet</name>
        <label>Which Priority to Set?</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>SetDefaultPrio10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prio3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_mChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Guide Upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPrioTo3</targetReference>
            </connector>
            <label>Prio 3</label>
        </rules>
        <rules>
            <name>Prio5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>App</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Guide Upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPrioTo5</targetReference>
            </connector>
            <label>Prio 5</label>
        </rules>
        <rules>
            <name>Prio7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier integration Part 1: Clean catalog</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getIntegrationRecord0</targetReference>
            </connector>
            <label>Prio 7</label>
        </rules>
        <rules>
            <name>Prio8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier integration Part 2: Order Guide matching</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getIntegrationRecord</targetReference>
            </connector>
            <label>Prio 8</label>
        </rules>
        <rules>
            <name>Prio9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Guide Upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPrioTo9</targetReference>
            </connector>
            <label>Prio 9</label>
        </rules>
    </decisions>
    <description>Sets the Case Priority field based on specific criteria. OPSSYS-1286
IM - Integration Object &amp; Cases to be attached OPSSYS-1245</description>
    <environments>Default</environments>
    <interviewLabel>Case - Set Case Priority Upon Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Set Case Priority</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getIntegrationRecord</name>
        <label>getIntegrationRecord</label>
        <locationX>1238</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Supplier_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Integration__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getIntegrationRecord0</name>
        <label>getIntegrationRecord0</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Supplier_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Integration__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Sets all the Cases that don&apos;t fit into the criteria to 10.</description>
        <name>SetDefaultPrio10</name>
        <label>Set Default Prio 10</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetPrioTo3</name>
        <label>Set Prio to 3</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetPrioTo5</name>
        <label>Set Prio to 5</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetPrioTo7</name>
        <label>Set Prio to 7</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetPrioTo8</name>
        <label>Set Prio to 8</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetPrioTo9</name>
        <label>Set Prio to 9</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>9</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Case_with_Integration_record</name>
        <label>update Case with Integration record</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Integration__c</field>
            <value>
                <elementReference>getIntegrationRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCasewithIntegrationrecord0</name>
        <label>update Case with Integration record</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Integration__c</field>
            <value>
                <elementReference>getIntegrationRecord0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhichPriorityToSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Record_Type_Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AdminOps</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
