force-app/main/default/flows/Chat_Reactivation_Date_Timestamp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Checks if the pre-save retention status was churned and is now active. If yes then populate reactivated date/time</description>
        <name>Was_Retention_status_churned</name>
        <label>Was Retention status churned and is now active?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chat_is_reactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Retention_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>🔴 Churned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Retention_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>🟢 Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_reactivate_date_time</targetReference>
            </connector>
            <label>Chat is reactivated</label>
        </rules>
    </decisions>
    <description>Captures the Date/Time when this Chat was reactivated.</description>
    <environments>Default</environments>
    <interviewLabel>Chat Reactivation Date/Timestamp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chat Reactivation Date/Timestamp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Fill_reactivate_date_time</name>
        <label>Fill reactivate date/time</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Reactivated_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastOrderDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Retention_status_churned</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Retention_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>🟢 Active</stringValue>
            </value>
        </filters>
        <object>Chat__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
