force-app/main/default/flows/Creata_Hard_Churn_Opp_and_Update_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>308</locationX>
        <locationY>996</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_MetaData.Responsible_User_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[New Hard Churn Opportunity] {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>There_is_an_ongoing_hard_churn_opp</name>
        <label>There is an ongoing hard churn opp?</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Get_MetaData</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Ongoing Hard Churn Opp</defaultConnectorLabel>
        <rules>
            <name>Yes_Ongoing_Hard_Churn_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>monthclosedate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 30</expression>
    </formulas>
    <interviewLabel>Creata Hard Churn Opp and Update Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Hard Churn Opp and Update Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Hard_Churn_Oppty</name>
        <label>Create Hard Churn Oppty</label>
        <locationX>308</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>monthclosedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Orders_Before_Hard_Churn__c</field>
            <value>
                <elementReference>$Record.Total_Orders__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MetaData.Owner_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_HardChurn_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_HardChurn_RecordType</name>
        <label>Get HardChurn RecordType</label>
        <locationX>308</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hard Churn</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MetaData</name>
        <label>Get MetaData</label>
        <locationX>308</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HardChurn_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Hard_Churn_Auto_Assign__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_is_an_ongoing_hard_churn_opp</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hard_Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed:Succeeded</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed:Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Owner</name>
        <label>Update Account Owner</label>
        <locationX>308</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>Create_Hard_Churn_Oppty</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MetaData.Owner_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hard Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Buyer_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed for business permanently</stringValue>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Region 8</stringValue>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Days_since_Hard_Churned__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>84.0</numberValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-11-08</startDate>
            <startTime>16:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello!&lt;/p&gt;&lt;p&gt;New Hard Churn Opportunity has been created for {!$Record.Name}&lt;/p&gt;&lt;p&gt;Here is the link to the &lt;a href=&quot;https://choco--staging.sandbox.lightning.force.com/lightning/r/{!Create_Hard_Churn_Oppty}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Opportunity&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Salesforce Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OpportunityName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[Hard Churn] {!$Record.Name}</text>
    </textTemplates>
</Flow>
