force-app/main/default/flows/Create_Hard_Churn_Opportunity_and_Update_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Hard_Churn_Opp</name>
        <label>New Hard Churn Opp</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <actionName>New_Hard_Churn_Opportunity</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Get_New_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CloseDate</name>
            <value>
                <elementReference>monthclosedate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Name</name>
            <value>
                <stringValue>[Hard Churn] {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_Metadata.Owner_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StageName</name>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Notification</name>
        <label>Send Email Notification</label>
        <locationX>138</locationX>
        <locationY>1175</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Metadata.Responsible_User_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>burak.cetin@choco.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[New Hard Churn Opportunity] {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>hard_churned_12_weeks_ago</name>
        <label>hard churned 12 weeks ago</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes12weeksago</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Timestamp_Hard_Churn__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>hardchurned12weeksago</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Metadata</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_is_an_ongoing_hard_churn_opp</name>
        <label>There is an ongoing hard churn opp?</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open Hard Churn Opportunity</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>hardchurned12weeksago</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 84</expression>
    </formulas>
    <formulas>
        <name>monthclosedate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 30</expression>
    </formulas>
    <interviewLabel>Create Hard Churn Opportunity and Update Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Hard Churn Opportunity and Update Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Metadata</name>
        <label>Get Metadata</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Hard_Churn_Auto_Assign__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Opp</name>
        <label>Get New Opp</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hard_Churn</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_is_an_ongoing_hard_churn_opp</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hard_Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed:Succeeded</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed:Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Owner</name>
        <label>Update Account Owner</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>New_Hard_Churn_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Metadata.Owner_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>hard_churned_12_weeks_ago</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Hard_Churned_8_Weeks_Ago__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Buyer_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed for business permanently</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello!&lt;/p&gt;&lt;p&gt;New Hard Churn Opportunity has been created for {!$Record.Name}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://choco--burak.sandbox.lightning.force.com/lightning/r/Opportunity/{!Get_New_Opp.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Here&lt;/a&gt; is the link for the Opportunity&lt;/p&gt;&lt;p&gt;Salesforce Team&lt;/p&gt;</text>
    </textTemplates>
</Flow>
