force-app/main/default/flows/CreateTaskForChatCreationOutcomeCases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Checks which outcome the case has.</description>
        <name>WhichCaseOutcome</name>
        <label>Which Case Outcome?</label>
        <locationX>974</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OGObtained</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Guide Obtained</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhoShouldBeTaskOwner</targetReference>
            </connector>
            <label>OG Obtained</label>
        </rules>
        <rules>
            <name>OGNotObtained</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Guide Not Obtained</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhoShouldBeTaskOwner2</targetReference>
            </connector>
            <label>OG Not Obtained</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhoShouldBeTaskOwner</name>
        <label>Who Should be Task Owner?</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>No Task Creation</defaultConnectorLabel>
        <rules>
            <name>BuyerAccountOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Owner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskForISAM_1</targetReference>
            </connector>
            <label>Buyer Account Owner</label>
        </rules>
        <rules>
            <name>LeadOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__r.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskForISAM2</targetReference>
            </connector>
            <label>Lead Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhoShouldBeTaskOwner2</name>
        <label>Who Should be Task Owner?</label>
        <locationX>1106</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>No Task Creation</defaultConnectorLabel>
        <rules>
            <name>BuyerAccountOwner2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Owner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskForISAM</targetReference>
            </connector>
            <label>Buyer Account Owner</label>
        </rules>
        <rules>
            <name>LeadOwner2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__r.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskForISAM3</targetReference>
            </connector>
            <label>Lead Owner</label>
        </rules>
    </decisions>
    <description>Record-triggered Flow that creates Tasks for Sales/AM after the AdminOps Case created via the &quot;Chat Creation Cases Outcome&quot;-process is closed. OPSSYS-1259, OPSSYS-1309</description>
    <environments>Default</environments>
    <formulas>
        <name>DueDateForTasks</name>
        <dataType>DateTime</dataType>
        <expression>NOW()+2</expression>
    </formulas>
    <interviewLabel>Task Creation for Chat Creation Outcome Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task for Chat Creation Outcome Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>TaskForISAM</name>
        <label>Task for IS/AM</label>
        <locationX>842</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>DueDateForTasks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectForTask_ChatNeedsOG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>$Record.Supplier_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TaskForISAM2</name>
        <label>Task for IS/AM</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>DueDateForTasks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Lead__r.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectForTask_ChatIsReadyToBeActivated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>$Record.Supplier_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TaskForISAM3</name>
        <label>Task for IS/AM</label>
        <locationX>1106</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>DueDateForTasks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Lead__r.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectForTask_ChatNeedsOG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>$Record.Supplier_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TaskForISAM_1</name>
        <label>Task for IS/AM</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>DueDateForTasks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectForTask_ChatIsReadyToBeActivated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>$Record.Supplier_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 5 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Case_Record_Type_Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerService</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Guide Obtained</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Guide Not Obtained</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chat Creation</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>CSCaseCompletion</name>
            <connector>
                <targetReference>WhichCaseOutcome</targetReference>
            </connector>
            <label>CS Case Completion</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SubjectForTask_ChatIsReadyToBeActivated</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Supplier_Account__r.Name} x {!$Record.Account.Name} - Chat is Ready to be Activated</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectForTask_ChatNeedsOG</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Supplier_Account__r.Name} x {!$Record.Account.Name} - Chat Needs Order Guide</text>
    </textTemplates>
</Flow>
