force-app/main/default/flows/Integration_After_Save_Update_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>emailAddress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>venkatesh.nayak@choco.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Status_Change</name>
        <label>Status Change</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IN_PROGRESS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_of_Jira_Epic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IN PROGRESS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Integration_start_timestamp</targetReference>
            </connector>
            <label>IN PROGRESS</label>
        </rules>
        <rules>
            <name>DONE</name>
            <conditionLogic>(1 OR 2 )AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_of_Jira_Epic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DONE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_of_Jira_Epic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LIVE - NOT DONE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Go_Live_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Integration_Go_Live_Update</targetReference>
            </connector>
            <label>DONE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Integration After Save Update Timestamp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Integration After Save Update Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Integration_Go_Live_Update</name>
        <label>Integration Go Live Update</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Integration_Go_Live_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Integration_start_timestamp</name>
        <label>Integration start timestamp</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Integration_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status_of_Jira_Epic__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status_of_Jira_Epic__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Integration__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>error</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;check the error message for the update : {!Integration_Go_Live_Update}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SupplierAccount</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Supplier Account is : {!24bf89be-c34e-4f42-8802-3cb4e130d335}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
