force-app/main/default/flows/Integration_After_Save_Update_Vendor_Account_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>emailAddress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>venkatesh.nayak@choco.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Status_Change</name>
        <label>Status Change</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_Do</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_of_Jira_Epic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TO DO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_of_Jira_Epic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IN PROGRESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Integration_in_Supplier_Account</targetReference>
            </connector>
            <label>To Do</label>
        </rules>
        <rules>
            <name>DONE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_of_Jira_Epic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DONE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_of_Jira_Epic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LIVE - NOT DONE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supplier_Account_Int_Status</targetReference>
            </connector>
            <label>DONE</label>
        </rules>
        <rules>
            <name>BLOCKED</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_of_Jira_Epic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLOCKED (BUSINESS)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_of_Jira_Epic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLOCKED (TECH)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vendor_Account_Integration_status</targetReference>
            </connector>
            <label>BLOCKED</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Integration After Save Update Vendor Account Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Integration After Save Update Vendor Account Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Integration_in_Supplier_Account</name>
        <label>Integration in Supplier Account</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier_Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Integration__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Supplier_Account_Int_Status</name>
        <label>Supplier Account Int Status</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier_Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Integration__c</field>
            <value>
                <stringValue>Integrated</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Vendor_Account_Integration_status</name>
        <label>Vendor Account Integration status</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier_Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Integration__c</field>
            <value>
                <stringValue>Blocked by Business Process</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status_of_Jira_Epic__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status_of_Jira_Epic__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Integration__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SupplierAccount</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Supplier Account is : {!Integration_in_Supplier_Account}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
