force-app/main/default/flows/Link_Chats_With_Related_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Opp_to_Chat</name>
        <label>Assign Opp to Chat</label>
        <locationX>440</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Chats.RelatedOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Starting_Point</name>
        <label>Assign Starting Point</label>
        <locationX>352</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>StartingPoint</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endingPoint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Chats</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>440</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>AllChatsBox</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Chats</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Chats</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>endingPoint</name>
        <dataType>Number</dataType>
        <expression>{!StartingPoint} + 200</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Link Chats With Related Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Link Chats With Related Opportunity</label>
    <loops>
        <name>Loop_Over_Chats</name>
        <label>Loop Over Chats</label>
        <locationX>352</locationX>
        <locationY>648</locationY>
        <collectionReference>Get_All_Chats</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_to_Chat</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Chats</name>
        <label>Get All Chats</label>
        <locationX>352</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Chats</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>SupplierAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Index__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartingPoint</elementReference>
            </value>
        </filters>
        <filters>
            <field>Index__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>endingPoint</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Chat__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFirstChatRecord</name>
        <label>getFirstChatRecord</label>
        <locationX>352</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Starting_Point</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SupplierAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Chat__c</object>
        <sortField>Index__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Opportunity</name>
        <label>Update Related Opportunity</label>
        <locationX>352</locationX>
        <locationY>1104</locationY>
        <inputReference>AllChatsBox</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vendor_Package_3</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Execution</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signed/Onboarding</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>scheduled_after_0_mins</name>
            <connector>
                <targetReference>getFirstChatRecord</targetReference>
            </connector>
            <label>scheduled after 0 mins</label>
            <maxBatchSize>200</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <triggerOrder>400</triggerOrder>
    <variables>
        <name>AllChatsBox</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat__c</objectType>
    </variables>
    <variables>
        <name>StartingPoint</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
