force-app/main/default/flows/NAB_Opportunity_Update_the_stage_to_Closed_Succeeded.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>hardchurn_1_of_Is_there_a_stage_mismatch</name>
        <label>hard churn Is there a stage mismatch ?</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hardchurn_1_of_Update_to_Closed_Succeeded_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SystemStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Succeeded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Succeeded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Who_is_the_DM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Which_Vendors_Are_Missing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Who_makes_the_orders__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Who_still_needs_to_be_onboarded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ready_to_be_Converted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Storytelling__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>hardchurn_1_of_Update_the_stage_to_closed_Succeeded</targetReference>
            </connector>
            <label>Update to Closed:Succeeded needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_stage_mismatch</name>
        <label>Is there a stage mismatch ?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_to_Closed_Succeeded_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SystemStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Succeeded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Succeeded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Who_is_the_DM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Which_Vendors_Are_Missing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Who_makes_the_orders__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Who_still_needs_to_be_onboarded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ready_to_be_Converted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Storytelling__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_stage_to_closed_Succeeded</targetReference>
            </connector>
            <label>Update to Closed:Succeeded needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>NAB_OR_HARDCHURN</name>
        <label>NAB OR HARDCHURN</label>
        <locationX>644</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NAB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_stage_mismatch</targetReference>
            </connector>
            <label>NAB</label>
        </rules>
        <rules>
            <name>HARDCHURN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hard_Churn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>hardchurn_1_of_Is_there_a_stage_mismatch</targetReference>
            </connector>
            <label>HARDCHURN</label>
        </rules>
    </decisions>
    <description>In case the handover fields have not been filled in before the opportunity reaches the right number of orders. This process will update the opportunity stage to Closed:Succeeded when the handover fields are filled in</description>
    <environments>Default</environments>
    <interviewLabel>NAB Opportunity Update the stage to Closed:Succeeded {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hard Churn / NAB Opportunity Update the stage to Closed:Succeeded</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>hardchurn_1_of_Update_the_stage_to_closed_Succeeded</name>
        <label>Update the stage to closed Succeeded</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Account_Handover_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Reactivation_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed:Succeeded</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Handover_Fields</name>
        <label>Update Account Handover Fields</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Features_Requested__c</field>
            <value>
                <elementReference>$Record.Features_Requested__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Potential_for_referrals__c</field>
            <value>
                <elementReference>$Record.Potential_for_referrals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storytelling__c</field>
            <value>
                <elementReference>$Record.Storytelling__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_Suppliers_Are_Missing__c</field>
            <value>
                <elementReference>$Record.Which_Vendors_Are_Missing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_is_the_DM__c</field>
            <value>
                <elementReference>$Record.Who_is_the_DM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_makes_the_orders__c</field>
            <value>
                <elementReference>$Record.Who_makes_the_orders__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_still_needs_to_be_onboarded__c</field>
            <value>
                <elementReference>$Record.Who_still_needs_to_be_onboarded__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_stage_to_closed_Succeeded</name>
        <label>Update the stage to closed Succeeded</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed:Succeeded</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NAB_OR_HARDCHURN</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4) OR (5 AND 2 AND 3 AND 4)</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAB</stringValue>
            </value>
        </filters>
        <filters>
            <field>SystemStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed:Succeeded</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed:Succeeded</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hard_Churn</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
</Flow>
