force-app/main/default/flows/Revisit_Later_Disqualifynew.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Disqualify_Submit_For_Approval</name>
        <label>Disqualify Submit For Approval</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Disqualify</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>getnewuserid</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Revisit_Later_Submit_For_Approval</name>
        <label>Revisit Later Submit For Approval</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Revisit_Later</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>getnewuserid</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>revisitSubmit_for_approval</name>
        <label>Submit for approval</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>getnewuserid</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>submitdisqualify</name>
        <label>submitdisqualify</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>getnewuserid</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>revDisqualify</name>
        <choiceText>Disqualify</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disqualify</stringValue>
        </value>
    </choices>
    <choices>
        <name>revRevisitLater</name>
        <choiceText>Revisit Later</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Revisit Later</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action_Decision</name>
        <label>Action Decision</label>
        <locationX>644</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outDisqualify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>revAction2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disqualifychoice</targetReference>
            </connector>
            <label>Disqualify</label>
        </rules>
        <rules>
            <name>outRevisit_Later</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>revAction2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revisit Later</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revisit_Later_Second_Screen</targetReference>
            </connector>
            <label>Revisit Later</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_is_Opportunity_or_Account</name>
        <label>Record is Opportunity or Account</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>disqualifyrecordupdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsAccount</defaultConnectorLabel>
        <rules>
            <name>IsOpportunityDisqualify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisqualifyUpdate_Opportunity_Record</targetReference>
            </connector>
            <label>IsOpportunityDisqualify</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_is_Opportunity_or_Account_Revisit_Later</name>
        <label>Record is Opportunity or Account Revisit Later</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>revisitUpdate_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsAccount</defaultConnectorLabel>
        <rules>
            <name>IsOpportunityRevisitLater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revisit_Later_Update_Opportunity_Record</targetReference>
            </connector>
            <label>IsOpportunityRevisitLater</label>
        </rules>
    </decisions>
    <description>OPSSYS-1264
Updated in order to extend functionality to opportunities (Requested by Louisa Knigge October 2022)</description>
    <dynamicChoiceSets>
        <name>choicesetAction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ActionRevisitDisqualify__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>revActionChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ActionRevisitDisqualify__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>revPicklistreason</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RevisitDisqualifyReason__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Toggles the bypass validation field.</description>
        <name>Bypassvalidationtoggle</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_triggering_record.Validation_Toggle_Bypass__c} = TRUE, FALSE,TRUE)</expression>
    </formulas>
    <formulas>
        <name>getnewuserid</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Revisit Later / Disqualify {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revisit Later / Disqualify</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_triggering_record</name>
        <label>Get triggering record</label>
        <locationX>644</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Revisit_Later_Disqualify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>disqualifyrecordupdate</name>
        <label>disqualifyrecordupdate</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>submitdisqualify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActionRevisitDisqualify__c</field>
            <value>
                <stringValue>Disqualify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommentRevisitDisqualify__c</field>
            <value>
                <elementReference>Commentdisqualify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RevisitDisqualifyReason__c</field>
            <value>
                <elementReference>Disqualify_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>DisqualifyUpdate_Opportunity_Record</name>
        <label>Disqualify Update Opportunity Record</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Disqualify_Submit_For_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Revisit_Later_Disqualify__c</field>
            <value>
                <stringValue>Disqualify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revisit_Later_Disqualify_Comment__c</field>
            <value>
                <elementReference>Commentdisqualify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revisit_Later_Disqualify_Reason__c</field>
            <value>
                <elementReference>Disqualify_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed:Disqualified</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Revisit_Later_Update_Opportunity_Record</name>
        <label>Revisit Later Update Opportunity Record</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Revisit_Later_Submit_For_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Revisit_Later_Disqualify__c</field>
            <value>
                <stringValue>Revisit Later</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revisit_Later_Date__c</field>
            <value>
                <elementReference>Revisit_Later_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revisit_Later_Disqualify_Comment__c</field>
            <value>
                <elementReference>Commentrevisit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revisit_Later_Disqualify_Reason__c</field>
            <value>
                <elementReference>Revisit_Later_Reason2</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>revisitUpdate_Record</name>
        <label>Update Record</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>revisitSubmit_for_approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActionRevisitDisqualify__c</field>
            <value>
                <stringValue>Revisit Later</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommentRevisitDisqualify__c</field>
            <value>
                <elementReference>Commentrevisit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RevisitDate__c</field>
            <value>
                <elementReference>Revisit_Later_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RevisitDisqualifyReason__c</field>
            <value>
                <elementReference>Revisit_Later_Reason2</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Disqualifychoice</name>
        <label>Disqualify</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Record_is_Opportunity_or_Account</targetReference>
        </connector>
        <fields>
            <name>Disqualify_Reason</name>
            <choiceReferences>revPicklistreason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Disqualify Reason</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Commentdisqualify</name>
            <dataType>String</dataType>
            <fieldText>Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Revisit_Later_Disqualify</name>
        <label>Revisit Later / Disqualify</label>
        <locationX>644</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action_Decision</targetReference>
        </connector>
        <fields>
            <name>revAction2</name>
            <choiceReferences>revRevisitLater</choiceReferences>
            <choiceReferences>revDisqualify</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Revisit_Later_Second_Screen</name>
        <label>Revisit Later Second Screen</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Record_is_Opportunity_or_Account_Revisit_Later</targetReference>
        </connector>
        <fields>
            <name>Revisit_Later_Reason2</name>
            <choiceReferences>revPicklistreason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Revisit Later Reason</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Revisit_Later_Date</name>
            <dataType>Date</dataType>
            <fieldText>Revisit Later Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Commentrevisit</name>
            <dataType>String</dataType>
            <fieldText>Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit for Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_triggering_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>revAccountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>revUserid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
