force-app/main/default/flows/Switch_Main_Referral_on_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Referral_For_Account_Main_Referral_has_value</name>
        <label>Switch Main Referral on Buyer Account?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_For_Account__r.Main_Referral__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_For_Account__r.Main_Referral__r.Referral_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Referral_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Main_Referral</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>OPSSYS-1312 - Makes a Referral set itself as the main referral on Account</description>
    <environments>Default</environments>
    <interviewLabel>Switch Main Referral on Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Switch Main Referral on create / update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Switches the main referral on the Account</description>
        <name>Switch_Main_Referral</name>
        <label>Switch Main Referral</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Main_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Referral_For_Account__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Referral_For_Account_Main_Referral_has_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral_For_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
