force-app/main/default/flows/Update_Linked_Chats_to_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Oppty_to_Chat</name>
        <label>Assign Oppty to Chat</label>
        <locationX>415</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Chats.RelatedOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>380</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>AllChatsBox</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Chats</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Counter</name>
        <label>Update Counter</label>
        <locationX>360</locationX>
        <locationY>951</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Limit</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>LoopLimit</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>300.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Limit</name>
        <label>Check Limit</label>
        <locationX>640</locationX>
        <locationY>953</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Chats</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLimitReached</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Oppty</targetReference>
            </connector>
            <label>Limit Reached</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LoopLimitReached</name>
        <dataType>Boolean</dataType>
        <expression>MOD({!LoopCounter},{!LoopLimit})==0</expression>
    </formulas>
    <interviewLabel>Update Linked Chats to Opportnity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Linked Chats to Opportunity</label>
    <loops>
        <name>Loop_Over_Chats</name>
        <label>Loop Over Chats</label>
        <locationX>584</locationX>
        <locationY>482</locationY>
        <collectionReference>Get_All_Chats</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Oppty_to_Chat</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Oppty_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>989</locationX>
        <locationY>951</locationY>
        <inputAssignments>
            <field>Opportunity_ID__c</field>
            <value>
                <elementReference>Get_all_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Update_Chat_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Chats</name>
        <label>Get All Chats</label>
        <locationX>584</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Chats</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>SupplierAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_all_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Chat__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Opportunity</name>
        <label>Get all Opportunity</label>
        <locationX>584</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Chats</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signed/Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Execution</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vendor_Package_3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Oppty</name>
        <label>Update Related Oppty</label>
        <locationX>832</locationX>
        <locationY>952</locationY>
        <connector>
            <targetReference>Create_Platform_Event</targetReference>
        </connector>
        <inputReference>AllChatsBox</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Oppty_0</name>
        <label>Update Related Oppty</label>
        <locationX>787</locationX>
        <locationY>489</locationY>
        <inputReference>AllChatsBox</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_all_Opportunity</targetReference>
        </connector>
        <object>Update_Chat_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AllChatsBox</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat__c</objectType>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
